@import "~bootstrap/scss/bootstrap";
@import "src/constants";

.app-navbar{

  @extend .navbar, .navbar-dark, .navbar-expand-md;
  margin-bottom: 3rem;
  align-items: baseline;

  &__logo{
    font-size: 18px;
    font-weight: bold;
    width: 164px;
  }

  &__menu{

    @extend .navbar-nav;
    width: 100%;
  }

  &__item{
    cursor: pointer;

    &-right{
      margin-left: auto;
    }
  }

  &__button{
    @extend .nav-link;
    padding: 0.5rem 1rem !important;
    margin: .2rem;
    color: var(--color-white) !important;

    &:hover{
      color: var(--color-light-dark) !important;
      background-color: var(--color-activity-hover);
      //border: 1px solid var(--color-activity);
      /* font-size: 80%; */
      border-radius: .5rem;
      /* letter-spacing: .1rem; */
      /* font-weight: bold; */
      /* padding: 1rem; */
      transition: all 0.2s;
    }

    &-active{
      color: var(--color-light-dark) !important;
      background-color: var(--color-activity) !important;
      //border: 1px solid var(--color-activity);
      /* font-size: 80%; */
      border-radius: .5rem;
      /* letter-spacing: .1rem; */
      /* font-weight: bold; */
      /* padding: 1rem; */
      transition: all 0.2s;
    }
  }
}