:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;

  --color-dark: #202a33;
  --color-light-dark: #364655;
  --color-white: #ffffff;
  --color-error: #ff6699;

  --color-activity: #ef8b2e;
  --color-activity-hover: #c29064;

  /* BORDER RADIUS*/
  --main-border-radius: 0.8rem

}
