@import "~bootstrap/scss/bootstrap";
@import "src/constants";
@import "~font-awesome/scss/font-awesome";

html{
  height: 100%;

  body {
    color: var(--color-light-dark);
    background: var(--color-dark);
    background: linear-gradient(to right, var(--color-dark), var(--color-light-dark));
    height: 100%;

    #root{
      height: 100%;

      .application {
        @include make-container();
        max-width: 1600px;

        display: flex;
        flex-direction: column;
        min-height: 100%;

        .app-logo{
          //background-image: url(https://media.giphy.com/media/26BRPqbkk5EhlzKrC/source.gif);
          //background-image: url(https://giffiles.alphacoders.com/208/208725.gif);
          //background-image: url(https://media2.giphy.com/media/3o7TKrZs4qBmcPBzos/giphy-downsized.gif);
          //background-image: url(https://cdn.dribbble.com/users/39141/screenshots/4370017/01_copy_195.gif);
          background-image: url('./assets/images/logo-animation.gif');
          background-size: cover;
          color: transparent;
          -webkit-background-clip: text;
          text-transform: uppercase;
          font-size: 5.9rem;
          line-height: .85;
          /* margin: 10px 0; */
          height: 160px;
          display: flex;
          align-items: center;
          justify-content: center;

          &-sm{

          }
        }
        .app-form{

          border: 0;
          border-radius: var(--main-border-radius);
          box-shadow: 8px 0.5rem 0.8rem 0 #f8f8f81c;
          padding: 1.25rem;

          @extend .card;

          &__header{

            margin-bottom: 1.75rem;
            font-size: 1.75rem;

            @extend .card-title;
            @extend .text-center;
          }

          &__body{
            padding: 0;
            @extend .card-body;
          }

          &__footer{

            cursor: default;
            padding: 0 var(--input-padding-x);

            @extend .mt-2;

            &-btn{
              @include float-right;

              color: var(--color-activity);
              cursor: pointer;
              text-decoration: underline;
            }
          }

          &__input{
            position: relative;
            margin-bottom: 1.3rem;
          }
        }
        .app-input {

          &__input {

            height: auto;
            border-radius: 1rem;
            cursor: text;
            padding: var(--input-padding-y) var(--input-padding-x);
            @extend .form-control;

            &:focus{
              color: #495057;
              background-color: #fff;
              border-color: var(--color-activity);
              outline: 0;
              box-shadow: 0 0 0 0.2rem rgba(238, 164, 98, 0.15);
            }

            &:not(:placeholder-shown){
              padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
              padding-bottom: calc(var(--input-padding-y) / 3);

              &~label{
                padding-top: calc(var(--input-padding-y) / 3);
                padding-bottom: calc(var(--input-padding-y) / 3);
                font-size: 12px;
                color: #777;
              }
            }

            &::-webkit-input-placeholder{
              color: transparent;
            }
            &::-ms-input-placeholder{
              color: transparent;
            }
            &:-ms-input-placeholder{
              color: transparent;
            }
            &::-moz-placeholder {
              color: transparent;
            }
            &::placeholder {
              color: transparent;
            }

            &_error{
              border: 1px solid var(--color-error)
            }
          }
          &__label {
            cursor: text;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;

            padding: var(--input-padding-y) var(--input-padding-x);
          }
          &__error-message {

            padding-left: var(--input-padding-x);
            padding-right: var(--input-padding-x);

            position: absolute;
            margin: 0;
            font-size: .7rem;
            color: var(--color-error);
            font-weight: 800;
          }
        }

        .app-navbar{

          @extend .navbar, .navbar-dark, .navbar-expand-md;
          margin-bottom: 3rem;


          &__menu{

            @extend .navbar-nav;
            width: 100%;
          }

          &__logo{
            @extend .navbar-brand;
            padding-top: 0;
            color: var(--color-activity) !important;
          }
          &__item{
            cursor: pointer;

            &-right{
              margin-left: auto;
            }
          }

          &__button{
            @extend .nav-link;
            padding: 0.5rem 1rem !important;
            margin: 0 .2rem;
            color: var(--color-white) !important;

            &:hover{
              color: var(--color-light-dark) !important;
              background-color: var(--color-activity-hover);
              //border: 1px solid var(--color-activity);
              /* font-size: 80%; */
              border-radius: .5rem;
              /* letter-spacing: .1rem; */
              /* font-weight: bold; */
              /* padding: 1rem; */
              transition: all 0.2s;
            }

            &-active{
              color: var(--color-light-dark) !important;
              background-color: var(--color-activity) !important;
              //border: 1px solid var(--color-activity);
              /* font-size: 80%; */
              border-radius: .5rem;
              /* letter-spacing: .1rem; */
              /* font-weight: bold; */
              /* padding: 1rem; */
              transition: all 0.2s;
            }
          }
        }
        .login-page {

          @include make-container();
          @include media-breakpoint-up(xs) {
            @include make-col(10);
          }
          @include media-breakpoint-up(sm) {
            @include make-col(9);
          }
          @include media-breakpoint-up(md) {
            @include make-col(6);
          }
          @include media-breakpoint-up(lg) {
            @include make-col(4);
          }

          display: flex;
          flex-grow: 1 !important;
          flex-direction: column;
          height: 100%;
          min-height: 100%;

          &-center{
            justify-content: center;
            align-items: center;
          }

          &__logo{
            margin-top: 1rem;
            margin-bottom: 1rem;

            .Typewriter{
              text-align: center;
              &__cursor{
                color: #ef8b2e;
              }
            }
          }

          &__form{
            @extend .my-5;
          }
        }

      }
    }

    //.app-button{
    //
    //  font-size: 80%;
    //  border-radius: 1rem;
    //  letter-spacing: .1rem;
    //  font-weight: bold;
    //  padding: 1rem;
    //  transition: all 0.2s;
    //  outline-style: none;
    //
    //  color: #fff;
    //  background-color: var(--color-activity);
    //  border: 1px solid var(--color-activity);
    //
    //  @extend .text-uppercase;
    //  @extend .btn-block;
    //
    //  &:hover{
    //    color: #fff;
    //    background-color: var(--color-light-dark);
    //    border-color: var(--color-light-dark);
    //  }
    //
    //  &_google{
    //    color: white;
    //    background-color: #ea4335;
    //  }
    //  &_facebook{
    //    color: white;
    //    background-color: #3b5998;
    //  }
    //}
  }
}
